<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pirate and Ship Tracker Form</title>
  </head>
  <body>
    <h1> Arrrr ye ready to PLUNDER, matey?</h1>
      <h2>Pirate</h2>
        <form action="/pirates" method="POST">

          <p>Pirate Name, matey: <input type="text" name="pirate[name]"></p>
          <p>Pirate Weight, matey: <input type="text" name="pirate[weight]"></p>
          <p>Pirate Height, matey: <input type="text" name="pirate[height]"></p>

      <h2>Ship One</h2>

          <p>Ship Name, matey: <input type="text" name="pirate[ships][][name]" id="ship_name_1"></p>
          <p>Ship Type, matey: <input type="text" name="pirate[ships][][type]" id="ship_type_1"></p>
          <p>Ship Booty, matey: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></p>

      <h2>Ship Two</h2>

          <p>Ship Name, matey: <input type="text" name="pirate[ships][][name]" id="ship_name_2"></p>
          <p>Ship Type, matey: <input type="text" name="pirate[ships][][type]" id="ship_type_2"></p>
          <p>Ship Booty, matey: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></p>

          <input type="submit" value="Submit">

        </form>
  </body>
</html>
